*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    content: "";
    clear: both;
    display: block;
    margin-right: 0;
}

.col-9{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    padding: 15px;
}
